.bo{
	 background color: red;
} 
 .all{
 	 color: green;
	 text-align: center;
	 font-size: 50px;
	 background: lightblue;

}
.mentor{
	color:darkblue;
	font-size: 80px;
    font-style: bold;
    text-align: center;
}
.chat{
	 
}
.ddd{
	
}
.ttt{
	
}
.sss{
	
}
.rrr{
	
}
.ccc{
	
}
.hhh{
	
}
.holder{
	display: none;
	text-align: center;
	
}
.dia{
	display: none;
	
}
.tri{
	display: none;
	
}
.squ{
	display: none;
	
}
.hex{
	display: none;
	
}
.cir{
	display: none;
	
}
.rec{
	display: none;
}
.ci{
	display: none;
}
.di{
	display: none;
}
.he{
	display: none;
}
.re{
	display: none;
}
.sq{
	display: none;
}
.sqr{
	display: none;
}
.tr{
	display: none;
}
.zozo{
	display: none;
}